.App {
  text-align: center;
}

.receipt{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 10px;
  width: 40%;
  border: solid orange 1px;
  padding: 10px;
}
.receipt-headers{
  text-align:left;
  margin: 10px;
  border-bottom: solid 1px rgb(142, 142, 142);
}
.receipt ul {
  text-align: left;
  margin: 10px;
  padding: 0 0 0 0;
  list-style: none;
}

.form-container{
  margin: 40px;
}

.receipts-container{
  margin: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}